ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.orange_underline {
  background: #F57E57;
  width: 80px;
  height: 4px;
  margin: 16px 0; }

.active_circle {
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 100%;
  background: #18AFD3;
  color: white;
  font-size: 10px;
  box-shadow: 0px 0px 0px 6px #C1E3F0;
  margin-left: 20px;
  cursor: pointer; }

.circle {
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 100%;
  background: #E5E5E5;
  color: white;
  font-size: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: all .4s ease-in-out; }
  .circle:hover {
    background: #18AFD3; }

.underline {
  height: 1px;
  background: lightgray;
  margin-top: 15px;
  position: relative;
  border: 0; }

.underline::before {
  content: "";
  width: 15%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: #F57E57; }

.margin_top {
  margin-top: -20px; }

.main .footer {
  overflow: hidden;
  padding: 40px 0 10px 0;
  background: #159cbc;
  box-shadow: inset 0 0 20px 10px #038EAF; }
  .main .footer hr {
    height: 1px;
    border: 0;
    background: #1491ae; }
  .main .footer .top_footer h3 {
    color: white;
    font-family: Oswald;
    font-size: 20px; }
  .main .footer .top_footer hr {
    background: white; }
  .main .footer .top_footer .contact_info {
    margin-bottom: 10px; }
    .main .footer .top_footer .contact_info .contact_icon {
      float: left;
      font-size: 20px;
      margin-right: 10px;
      color: #F57E57; }
    .main .footer .top_footer .contact_info .connection_info {
      padding-top: 10px;
      padding-left: 30px; }
      .main .footer .top_footer .contact_info .connection_info p {
        margin-top: -5px;
        color: white; }
        .main .footer .top_footer .contact_info .connection_info p:hover {
          text-decoration: underline; }
  .main .footer .top_footer .newsletter {
    margin-left: 25px;
    color: #28c2e7; }
    .main .footer .top_footer .newsletter p {
      line-height: 1.6; }
    .main .footer .top_footer .newsletter .input-group .invalid_msg {
      display: none;
      position: absolute;
      top: 0;
      right: 90px;
      color: #F57E57;
      z-index: 2;
      font-size: 10px;
      display: none; }
    .main .footer .top_footer .newsletter .input-group input {
      height: 40px;
      border: none;
      border-radius: 2px;
      color: #434445;
      position: relative; }
      .main .footer .top_footer .newsletter .input-group input:focus {
        border: none; }
    .main .footer .top_footer .newsletter .input-group span button {
      border-radius: 5px;
      font-family: Oswald;
      height: 40px;
      margin-left: -10px;
      background: #f25927;
      color: white;
      border: none;
      outline: 0;
      z-index: 3;
      transition: all .4s ease-in-out; }
      .main .footer .top_footer .newsletter .input-group span button:active {
        box-shadow: none; }
      .main .footer .top_footer .newsletter .input-group span button:focus {
        background: #18AFD3; }
  .main .footer .icon_list ul {
    margin-bottom: 35px; }
    .main .footer .icon_list ul li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 100%;
      background: white;
      color: white;
      font-size: 18px;
      color: gray;
      margin-right: 12px;
      transition: all .3s ease-in-out; }
      .main .footer .icon_list ul li i {
        margin-top: 10px; }
      .main .footer .icon_list ul li:hover {
        background: #F57E57; }
        .main .footer .icon_list ul li:hover i {
          color: white; }
  .main .footer .privacy p {
    font-family: Lato,serif,sans-serif;
    font-size: 15px;
    color: #91e0f3;
    margin-bottom: 20px; }
    .main .footer .privacy p span:hover {
      text-decoration: underline; }
.main .valid_msg {
  display: none;
  background: #434445;
  color: white;
  width: 15%;
  padding: 15px;
  font: 16px "Lato";
  position: fixed;
  bottom: 5%;
  left: -15%;
  z-index: 10; }
  .main .valid_msg .msg_icon {
    float: left;
    clear: both;
    margin-right: 15px;
    font-size: 20px; }
  .main .valid_msg .message {
    margin-top: 3px; }
    .main .valid_msg .message p {
      margin: 0; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .valid_msg {
    width: 20% !important; }

  .container {
    width: 900px; } }
@media screen and (max-width: 991px) {
  .margin_top {
    margin-top: 35px !important; }

  .newsletter {
    margin-left: 0 !important;
    max-width: 360px; }

  .footer {
    padding: 40px 25px 10px !important; }

  .top_footer .row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .top_footer .footer_logo {
    text-align: center;
    margin: 30px 0; }

  .icon_list {
    text-align: center; }

  .privacy {
    text-align: center; }

  .valid_msg {
    width: 167px !important;
    font-size: 14px !important;
    padding: 10px !important; }

  .msg_icon {
    margin-right: 8px; } }

/*# sourceMappingURL=footer.css.map */
